.bkgd{background-image: url("../images/90s-background.jpg");}

.pad-3-10{padding: 3% 10%;}
.pad-r-10{padding-right:10px;}

/*wrapper*/
.question{
	padding: 3% 10%;
}

.answer{

}

.submitter{
	padding: 3% 10%;
}

.results{
	margin: 10px 2%;
}

.well{
	margin: 3% 10%;
}